{% extends 'base.html.twig' %}
{% block title %} Tree Music {% endblock %}
{% block body %}
    <h1 class="titre"> Choix de la Parcelle </h1>
    <div class="globe">
        <img class="globe-img" src="{{ asset('build/images/globe.gif') }}" alt="globe">
    </div>
{% endblock %}
