{% extends 'base.html.twig' %}

{% block title %}Greenhouse{% endblock %}

{% block body %}
    <div class="content">
        <div class="box-decompte">
        </div>
        <div class="cercle">
        </div>
    </div>
{% endblock %}
